<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    /> -->

    <!-- TailwindCSS (dev) -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Material Icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <!-- JQuery -->
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>

    <title>Show대전</title>

    <style>
      footer {
        position: fixed;
        bottom: 0;
        width: 100%;
      }
      {% block style %}{% endblock style %}
    </style>
    
  </head>
  <body>
    <header>
      <nav class="w-full bg-slate-100 flex justify-between items-center">
        <div class="container p-3">
          <a class="font-bold" href="#">SHOW 대전</a>
        </div>
        <div id="login-area">
          <button
            id="login-button"
            class="p-1 bg-blue-500 text-white rounded whitespace-nowrap text-sm"
          >
            로그인
          </button>
          <div id="login-profile"></div>
          <button
            id="logout-button"
            class="p-1 bg-blue-500 text-white rounded whitespace-nowrap text-sm"
          >
            로그아웃
          </button>
        </div>
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
    {% block javascript %}
    <script></script>
    {% endblock javascript %}
    <!-- <footer
      class="flex absolute bottom-0 justify-between w-full p-3 text-gray-500 text-sm"
    >
      <p>SW Jungle 2023</p>
      <p>4조 SHOW 대전</p>
    </footer>
    <script>
      $(document).ready(() => {
        if (getCookie("token")) {
          $("#login-profile").css("display", "block");
          $("#logout-button").css("display", "block");
          $("#login-button").css("display", "none");
          // TODO: 서버에서 사용자 닉네임을 반환하여 줄 것이므로 나중에 삭제
          $("#logout-button").text(getCookie("token"));
        } else {
          $("#login-button").css("display", "block");
          $("#logout-button").css("display", "none");
          $("#login-profile").css("display", "none");
        }

        $("#login-button").click(() => {
          // 로그인 페이지로 이동, 서버와 통신하여 토큰을 쿠키에 저장함
          mockLogin();
          window.location.reload();
        });
        $("#logout-button").click(() => {
          // 쿠키에 저장된 토큰 삭제
          mockLogout();
          window.location.reload();
        });
      });

      // mock login/out
      function mockLogin() {
        document.cookie = "token=001; max-age=3600";
      }
      function mockLogout() {
        deleteCookie("token");
      }

      // handle cookies
      function getCookie(name) {
        let matches = document.cookie.match(
          new RegExp(
            "(?:^|; )" +
              name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, "\\$1") +
              "=([^;]*)"
          )
        );
        return matches ? matches[1] : undefined;
      }

      function setCookie(name, value, options = {}) {
        options = {
          path: "/",
          ...options,
        };

        if (options.expires instanceof Date) {
          options.expires = options.expires.toUTCString();
        }

        let updatedCookie =
          encodeURIComponent(name) + "=" + encodeURIComponent(value);
        for (let optionKey in options) {
          updatedCookie += "; " + optionKey;
          let optionValue = options[optionKey];
          if (optionValue !== true) {
            updatedCookie += "=" + optionValue;
          }
        }
        document.cookie = updatedCookie;
      }

      function deleteCookie(name) {
        setCookie(name, "", { "max-age": -1 });
      }
    </script>
  </body>
</html>
