<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- TailwindCSS (dev) -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Material Icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <!-- JQuery -->
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>

    <title>Show대전</title>

    <style>
      footer {
        position: fixed;
        bottom: 0;
        width: 100%;
      }
      {% block style %}{% endblock style %}
    </style>
  </head>
  <body>
    <header>
      <nav class="w-full bg-slate-100 flex justify-between items-center p-3">
        <a class="font-bold" href="/">SHOW 대전</a>
        {% if loggedIn == True %}
          <div class="flex whitespace-nowrap gap-2 text-sm items-center">
            <div id="login-profile">{{nickname}}님 안녕하세요</div>
            <a
              id="logout-button"
              href="/api/logout"
              class="p-1 bg-blue-500 text-white rounded whitespace-nowrap text-sm"
            >
              로그아웃
            </a>
          </div>
        {% else %}
          <a
          id="login-button"
          href="/login"
          class="p-1 bg-blue-500 text-white rounded whitespace-nowrap text-sm"
        >
          로그인
        </a>
        {% endif %}
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
    {% block javascript %}
    <script></script>
    {% endblock javascript %}
    <!-- <footer
      class="flex absolute bottom-0 justify-between w-full p-3 text-gray-500 text-sm"
    >
      <p>SW Jungle 2023</p>
      <p>4조 SHOW 대전</p>
    </footer> -->

    <script>
      // $(document).ready(() => {
      //   if (getCookie("token")) {
      //     $("#logged-in").css("display", "block");
      //     $("#logged-out").css("display", "none");
      //   } else {
      //     $("#logged-out").css("display", "block");
      //     $("#logged-in").css("display", "none");
      //   }
      // });

      // handle cookies
      function getCookie(name) {
        let matches = document.cookie.match(
          new RegExp(
            "(?:^|; )" +
              name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, "\\$1") +
              "=([^;]*)"
          )
        );
        return matches ? matches[1] : undefined;
      }
    </script>
  </body>
</html>
