{% extends "base.html" %}
{% block content %}

<div class="p-3">
  <!-- Banner section -->
  <section class="relative">
    <div
      class="bg-[url('static/image/banner.jpg')] w-full h-80 bg-cover bg-center"
    ></div>
    <div
      class="absolute inset-0 flex flex-col items-center justify-center bg-black bg-opacity-50 text-white"
    >
      <h1 class="font-bold text-xl">SHOW 대전</h1>
      <p class="max-w-md text-center font-light">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque ullam
        molestias cum mollitia rem quibusdam nesciunt quam rerum sunt voluptatibus
        inventore, cumque eveniet doloribus ut perspiciatis natus quis itaque
        tenetur!
      </p>
    </div>
  </section>

  <!-- Tab Button -->
  <section id="tabs" data-tab="{{tab}}" class="mt-5 flex gap-3 justify-center items-center mb-5">
    <a href="/?tab=all&sort={{sort}}&option={{option}}" class="p-3 {% if tab == 'all' %} border-b-4 {% else %} text-gray-400 {% endif %}">전체보기</a>
    <a href="/?tab=fav&sort={{sort}}&option={{option}}" class="p-3 {% if tab == 'fav' %} border-b-4 {% else %} text-gray-400 {% endif %}">좋아요</a>
  </section>
  
  <!-- Sort Options & paging -->
  <section class="flex justify-between items-center">
    <div class="flex items-center gap-2">
      <select name="sort" class="p-2 border rounded mb-3" onchange="location = this.value;">
        <!-- URL에서 tab 값이 all이든 fav이든 상관 없이 동일하게 동작하도록 URL을 수정 -->
        <option value="/?tab={{tab}}&sort=like&option={{option}}" {% if sort == 'like' %} selected {% endif %}>인기순</option>
        <option value="/?tab={{tab}}&sort=name&option={{option}}" {% if sort == 'name' %} selected {% endif %}>이름순</option>
        <option value="/?tab={{tab}}&sort=date&option={{option}}" {% if sort == 'date' %} selected {% endif %}>최근종료순</option>
      </select>
      <div class="flex gap-1">
        <!-- 진행중 공연만 보기 옵션 (endDt > today) -->
        <input id="filter-option" value="/?tab={{tab}}&sort={{sort}}&option={{"allDue" if option == "beforeDue" else "beforeDue"}}" type="checkbox" {% if option == 'beforeDue' %} checked {% endif %} onchange="location = this.value;"></input>
        <label for="filter-option" class="text-sm">진행중만 보기</label>
      </div>
    </div>
    <div class="flex gap-2">
      {% if paging['prev'] %}
        <a href="/?page={{paging['startPage']-1}}&tab={{tab}}&sort={{sort}}&option={{option}}" class="material-icons p-1 rounded border bg-white">chevron_left</a>
      {% endif %}
      {% for i in range(paging['startPage'], paging['endPage'] + 1) %}
        <a {% if i == pageNo %} id="curr-page" {% endif %}
        class="px-3 py-1 rounded border {% if i == pageNo %} bg-blue-500 text-white {% else %} bg-white {% endif %}"
        href="/?page={{i}}&tab={{tab}}&sort={{sort}}&option={{option}}">{{i}}</a>
      {% endfor %}
      {% if paging['next'] %}
        <a href="/?page={{paging['endPage']+1}}&tab={{tab}}&sort={{sort}}&option={{option}}" class="material-icons p-1 rounded border bg-white">chevron_right</a>
      {% endif %}
    </div>
  </section>

  <!-- All Event List -->
  <section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-2">
  {% for event in paging['cards'] %}
    {% if (tab == 'fav' and not event['is_mine']) %}
      <div></div>
    {% else %}
    <div class="rounded-md border p-3 relative h-32">
      <h5 class="card-title">{{ event['title']}}</h5>
      <small class="block text-gray-500"
        >{{ event['beginDt'] }}~{{event['endDt']}}</small
      >
      <small class="block text-gray-500">{{event['placeName']}}</small>
      <div
        class="absolute bottom-2 right-2 flex justify-center items-center gap-2"
      >
        <small>{{event['fav_count']}} </small>
        <a href="/fav/{{tab}}/{{ "dislike" if event['is_mine'] == True else "like"}}/{{event["_id"]}}/{{pageNo}}/{{sort}}/{{option}}" class="like cursor-pointer material-icons text-md {% if event['is_mine'] %} text-rose-400 {% endif %}">
          favorite
        </a>
      </div>
    </div>
    {% endif %}
  {% endfor %}
  </section>

  <!-- Need Login Alert -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div id="modal" class="w-screen h-screen flex justify-center items-center fixed top-0 left-0 bg-slate-800/50">
        {% for message in messages %}
          <div class="p-3 w-1/3 bg-white rounded flex flex-col text-center ">
            <div>{{message}}</div>
            <div class="flex mt-3 text-sm gap-2">
              <a id="close-modal" class="p-2 bg-gray-500 text-white max-h-10 rounded w-1/2 cursor-pointer">닫기</a>
              <a href="/login" class="p-2 bg-blue-500 text-white max-h-10 rounded w-1/2">로그인하기</a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  
</div>

<script>
  $(document).ready(() => {
    // 로그인 필요 모달에서 닫기 버튼 동작
    $("#close-modal").click(() => {
      let page = $('#curr-page').text()
      let tab = $("#tabs").data("tab")
      window.location.href = `/?page=${page}&tab=${tab}`
    })
  })

  
</script>
{% endblock content %}
