{% extends "base.html" %}
{% block content %}

<div class="p-3">
  <!-- Banner section -->
  <section class="relative">
    <div
      class="bg-[url('static/image/banner.jpg')] w-full h-80 bg-cover bg-center"
    ></div>
    <div
      class="absolute inset-0 flex flex-col items-center justify-center bg-black bg-opacity-50 text-white"
    >
      <h1 class="font-bold text-xl">SHOW 대전</h1>
      <p class="max-w-md text-center font-light">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque ullam
        molestias cum mollitia rem quibusdam nesciunt quam rerum sunt voluptatibus
        inventore, cumque eveniet doloribus ut perspiciatis natus quis itaque
        tenetur!
      </p>
    </div>
  </section>

  <!-- Tab Button -->
  <section id="tabs" data-tab="{{tab}}"class="mt-5 flex gap-3 justify-center items-center mb-5">
    <a href="/?tab=all" class="p-3 {% if tab == 'all' %} border-b-4 {% else %} text-gray-400 {% endif %}">전체보기</a>
    <a href="/?tab=fav" class="p-3 {% if tab == 'fav' %} border-b-4 {% else %} text-gray-400 {% endif %}">좋아요</a>
  </section>

  <!-- Sort Options & paging -->
  <section class="flex justify-between items-center">
    <div class="items-self-end">
      <select name="sort" class="p-2 border rounded mb-3">
        <option value="like" selected>인기순</option>
        <option value="name">이름순</option>
        <option value="date">공연일자순</option>
      </select>
    </div>
    <!-- Paging Buttons -->
    <div class="flex gap-2">
      {% for page in template_events %}
      <a {% if loop.index == pageNo %} id="curr-page" {% endif %}
        class="px-3 py-1 rounded border {% if loop.index == pageNo %} bg-blue-500 text-white {% else %} bg-white {% endif %}"
        href="/?page={{loop.index}}&tab={{tab}}">{{loop.index}}</a>
      {% endfor %}
    </div>
  </section>

  <!-- All Event List -->
  {% for event in template_events[pageNo-1] %}
    {% if (tab == 'fav' and not event['is_mine']) %}
      <div></div>
    {% else %}
    <div class="rounded-md border p-3 relative">
      <h5 class="card-title">{{ event['title']}}</h5>
      <small class="block text-gray-500"
        >{{ event['beginDt'] }}~{{event['endDt']}}</small
      >
      <small class="block text-gray-500">{{event['placeName']}}</small>
      <div
        class="absolute bottom-2 right-2 flex justify-center items-center gap-2"
      >
        <small>{{event['fav_count']}} </small>
        <a data-id="{{event["_id"]}}" data-stat="{{event['is_mine']}}" class="like cursor-pointer material-icons text-md {% if event['is_mine'] %} text-rose-400 {% endif %}">
          favorite
        </a>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>

<script>
  $(document).ready(() => {
    // 좋아요 버튼 동작
    $('.like').each((i, like) => {
      $(like).click(() => {
        let event_id = $(like).data("id") 
        let islike = $(like).data("stat") === "True" ? 'dislike' : 'like' 
        let page = $('#curr-page').text()
        let tab = $("#tabs").data("tab")
        window.location.href = `/${tab}/${islike}/${event_id}/${page}`
      })
    })
  })

  
</script>
{% endblock content %}
