{% extends "base.html" %}

{% block style %}
  main {
    width: 500px;
    margin: auto;
  }
{% endblock style %}

{% block content %}
<main>
  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-2 col-form-label">이메일</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3">
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label">비밀번호</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3">
    </div>
  </div>

  <button type="submit" class="btn btn-primary" style="width:500px">로그인</button>
  <div style="text-align: center">
    <a href="">아직 회원이 아니신가요? 회원가입</a>
  </div>
</main>
{% endblock content %}